body {
    background: #f1f1f1;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}
.form-control:focus {
    border-radius: 0;
    box-shadow: none;
    border-color: #3666c5;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #fff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header.with-border {
    border-bottom: 1px solid #ebebeb;
}

.text-center {
    text-align: center;
}

.p0 {
    padding: 0 !important;
}

.mb-2,
.my-2 {
    margin-bottom: .5rem !important;
}

.col-lg-2 {
    float: left;
    padding: 7px;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.box-body:after,
.box-body:before,
.box-footer:after,
.box-footer:before,
.box-header:after,
.box-header:before {
    content: " ";
    display: table;
}

thead.thead-custom tr th {
    background-color: #0E783A !important;
    color: #fff!important;
    border: 1px solid #fff;
}

